<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <h2>Mes developpeurs</h2>
      <p>Mis à jour : {{ lastUpdate | date: 'yMMMMEEEEd' | uppercase }}</p>
      <ul class="list-group">
        <app-developpeur  *ngFor="let dev of developpeurs"
                          [devName]="dev.name"
                          [devStatus]="dev.status"></app-developpeur>

      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">afficher</button>
    </div>
  </div>
</div>
